/*basic styles */

* {
	margin: 0 auto;
	vertical-align: top;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

body {
	background: #E7E7E7;
}

ul {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	max-width: 960px !important;
}

.top-container {
	width: 1120px;
}


/*menu styles*/
.menu {
	background: rgb(224, 98, 98);
	border-radius: 10px;
	margin-right: 15px;
	position: fixed;
	color: white;
}

.menu-me:hover {
	border-radius: 10px 10px 0 0;
}

.menu-contact:hover {
	border-radius: 0 0 10px 10px;
}

.menu img {
	display: block;
	width: 25px;
	margin-top: 5px;
}

.menu-me {
	border-bottom: 1px solid rgb(219, 61, 61);
}

.menu-work {
	border-bottom: 1px solid rgb(219, 61, 61);
}

.menu-resume {
	border-bottom: 1px solid rgb(219, 61, 61);
}

.menu li {
	list-style-type: none;
	padding: 20px 10px;
	font-family: 'Open Sans';
	cursor: pointer;
	text-align: center;
}

.menu li:hover {
	background: rgb(224, 134, 134);
}

/* top-view styles*/
.top-view-container {
	background: url('../images/riding-blurbw.jpg') no-repeat;
	background-size: cover;
	min-height: 475px;
	position:relative;
	background-position: center;
	width: 970px;
	border-radius: 10px;
	margin-top: 20px;
	border: 1px solid rgb(68, 68, 68);
	margin-left: 115px;
}

.top-view-layer {
	position: absolute;
	width: 100%;
	min-height: 475px;
	background: rgb(97, 97, 97);
	opacity: 0.6;
	border-radius: 10px;
}

.top-view {
	position: absolute;
	z-index: 1000;
}

.top-view h1 {
	color: rgb(224, 98, 98);
	margin-left: 25px;
	padding-top: 30px;
	font-size: 60px;
	font-family: 'Oswald';
}

.top-view h2 {
	color: whiteSmoke;
	font-family: 'Open Sans';
	margin-left: 25px;
}

.equestrian {
	font-style: italic;
	font-weight: 400;
	font-size: 20px;
}

.developer {
	font-weight: 700;
	font-size: 27px;
}

/*my work styles*/
.my-work {
	width: 970px;
	border-radius: 10px;
	margin-left: 115px;
	margin-top: 30px;	
	font-family: 'Open Sans', sans-serif;
}

.my-work h1 {
	color: #07014B;
	text-transform: uppercase;
	padding: 10px 0;
	background: white;
	padding-left: 25px;
	border-radius: 5px 5px 0 0;
	font-family: 'Oswald', sans-serif;
}

.my-work img {
	width: 400px;
	margin-left: 20px;
	margin-bottom: 20px;
	padding: 10px;
	background: white;
	border-radius: 5px;
}

.project-image{
	display: inline-block;
	margin-top: 20px;
}

.description {
	display: inline-block;
	width: 420px;
	margin-left: 40px;
	margin-top: 20px;
}

.description h2 {
	font-size: 35px;
	font-family: 'Oswald', sans-serif;
}

.description h3 {
	margin-top: 10px;
	font-family: 'Oswald', sans-serif;
}

.description ul {
	margin-left: 30px;
}

.description p {
	font-family: 'Open Sans';
	font-weight: 300;
	font-style: italic;
/*	color: whiteSmoke;
*/}

.description li {
	list-style-type: circle;
}

.project-one {
	background: rgb(86, 124, 160);
	color: #07014B;
}

.project-one a {
	color: #07014B
}

.project-two {
	background: rgb(61, 84, 105);
	color: #3E9281;
}

.project-two a{
	color: #3E9281;
}

.project-three {
	background: rgb(85, 87, 88);
	border-radius: 0 0 5px 5px;
	color: #222222;
}

.project-three a {
	color: #222222;
}
/* timeline styles*/

.text p {
	font-family: 'Oswald'
}

.text span {
	display: inline-block;
	font-family: 'Open Sans';
	line-height: 15px;
	font-size: 12px;
}

.one-third img {
	width: 70px;
	border-radius: 10px;
	float: left;
	margin-top: 20px;
	margin-right: 5px;
}

.four img {
	width: 70px;
	margin-right: 5px;
	border-radius: 10px;
	float: left;
	margin-top: 20px;
}

.text {
	display: inline-block;
	width: 130px;
}

.date {
	font-size: 10px;
	color: #acacac;
	font-style: italic;
}

/* actual line of timeline */
.line {
	position: absolute;
	height: 40px;
	padding-left: 60px;
	background: rgb(68, 68, 68);
	display: inline-block;
	width: 880px;
	font-family: 'Oswald';
	z-index: 1;
}

.line-active {
	position: absolute;
	z-index: 2;
	height: 32px;
	font-family: 'Oswald';
	font-weight: bold;
	padding-top: 8px;
	text-align: center;
}

.year {
	color: white;
	padding-top: 7px;
	width: 90px;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid rgb(68, 68, 68);
	display: inline-block;
}
/* navigation of line */

.circles-top {
	height: 15px;
}

.lines {
	height: 55px;
}

.circle {
	border-radius: 10px;
	width: 10px;
	height: 10px;
}

.ttf-line {
	display: inline-block;
	border-top: 2px dotted rgb(68, 68, 68);
	margin-left: 87px;
	border-right: 2px dotted rgb(68, 68, 68);
	height: 55px;
	width: 73px;
}

.ct-line {
	display: inline-block;
	border-top: 2px dotted rgb(68, 68, 68);
	margin-left: 160px;
	border-right: 2px dotted rgb(68, 68, 68);
	height: 55px;
	width: 110px;
}

.es-line{
	display: inline-block;
	border-top: 2px dotted rgb(68, 68, 68);
	margin-left: 129px;
	border-left: 2px dotted rgb(68, 68, 68);
	height: 55px;
	width: 110px;
}

.scbiz-line {
	display: inline-block;
	border-top: 2px dotted rgb(68, 68, 68);
	margin-left: 40px;
	border-left: 2px dotted rgb(68, 68, 68);
	height: 55px;
	width: 195px;
}

.ttf-circle {
	display: inline-block;
	margin-left: 155px;
	background: rgb(14, 218, 161);
	border: 1px solid #08747E;
}

.ct-circle {
	display: inline-block;
	margin-left: 260px;
	background: rgb(226, 23, 153);
	border: 1px solid #9C027E;
}

.es-circle {
	display: inline-block;
	margin-left: 120px;
	background: rgb(253, 160, 19);
	border: 1px solid #A77B09;
}

.scbiz-circle{
	display: inline-block;
	margin-left: 139px;
	background: rgb(19, 94, 253);
	border: 1px solid #28008D;
}

/*javascript styles*/

.farm-active {
	width: 200px;
	margin-left: 160px;
	opacity: 0.9;
	background: rgb(14, 218, 161);
	color: white;
}

.film-active {
	width: 135px;
	margin-left: 437px;
	opacity: 0.9;
	background: rgb(226, 23, 153);
	color: white;
}

.newspaper-active {
	width: 155px;
	margin-left: 570px;
	opacity: 0.9;
	background: rgb(253, 160, 19);
	color: white;
}

.asu-active {
	width: 400px;
	margin-left: 200px;
	opacity: 0.9;
	background: rgb(68, 68, 68);
	color: white;
}

.business-active {
	width: 190px;
	margin-left: 728px;
	opacity: 0.9;
	background: rgb(19, 94, 253);
	color: white;
}




